@font-face{
  font-family: 'HelveticaNeueLTProLt';
  src:  url('../fonts/HelveticaNeueLTProLt.otf');
}
@font-face{
  font-family: 'HelveticaNeueLTProMd';
  src:  url('../fonts/HelveticaNeueLTProMd.otf');
}
@font-face{
  font-family: 'HelveticaNeueLTProRoman';
  src:  url('../fonts/HelveticaNeueLTProRoman.otf');
}
@font-face{
  font-family: 'Merriweather-LightItalic';
  src:  url('../fonts/Merriweather-LightItalic.ttf');
}
@font-face{
  font-family: 'Montserrat-Light';
  src:  url('../fonts/Montserrat-Light.ttf');
}
@font-face{
  font-family: 'Montserrat-Regular';
  src:  url('../fonts/Montserrat-Regular.ttf');
}
@font-face{
  font-family: 'Roboto-Regular';
  src:  url('../fonts/Roboto-Regular.ttf');
}
.nav-link{
  font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
  font-family:'HelveticaNeueLTProMd';
}
.btn, .form-control{
  font-family:'HelveticaNeueLTProMd';
}
.card-title{
  font-family: 'Helvetica Neue Pro - Lt';
  font-size: clamp(1.25rem, 0.705rem + 2.73vw, 2.75rem);
  text-align: center;
}
.card-text{
  font-family: Merriweather;
  font-size: clamp(0.625rem, 0.489rem + 0.68vw, 1rem);
  color: #898888;
  text-align: center;
}
.card{
  height: 300px;
}
.text_item{
  font-family: Montserrat;
  font-size: clamp(0.625rem, 0.511rem + 0.57vw, 0.938rem);
}
.text_title{
  font-family: 'Helvetica Neue Pro';
  font-size: clamp(1.5rem, 0.273rem + 3.64vw, 3rem);
}
.bi{
  color: #898888;
}

